[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dataclasses = {version = "*", markers="python_version < '3.7.0'"}
pyyaml = "*"

[requires]
python_version = "3.6"
